.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and (min-width: 401px) and (max-width: 767px), (max-width: 400px){
  flex-direction: column;
  gap: 0.2rem;
}
}

.logoLink{
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  &:focus-visible{
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);
  border-radius: 0.25rem;
  }
}

.brand-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

