.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and (min-width: 401px) and (max-width: 767px), (max-width: 400px){
  flex-direction: column;
  gap: 0.2rem;
}
}

.logoLink{
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  &:focus-visible{
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);
  border-radius: 0.25rem;
  }
}

.brand-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor{
  &__modal{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  &__wrapper{
   background: #ffffff;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    max-height: 90%;
    overflow: auto;
    padding: 16px;
    position: relative;
}
}

.closeButton{
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 20px;
  cursor: pointer;
}
