.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and (min-width: 401px) and (max-width: 767px),
    (max-width: 400px) {
    flex-direction: column;
    gap: 0.2rem;
  }

  &__actions{
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
    height: 30px;
  }
}

.logoLink {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  &:focus-visible {
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);
    border-radius: 0.25rem;
  }
}

.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor {
  &__modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  &__wrapper {
    background: #ffffff;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    max-height: 90%;
    overflow: auto;
    padding: 16px;
    position: relative;
  }
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 20px;
  cursor: pointer;
}

.loginLink {
  border: 1px solid var(--primary-color);
  border-radius: 2.37rem;
  background-color: transparent;
  color: var(--primary--color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: var(--hover-color-secondary);
    transition: 0.3s all ease-in-out;
  }

  &:focus-visible {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);
  }
}

.user {
  &__section {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__name {
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: rgba(228, 243, 252, 0.7);
    cursor: pointer;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;

       &:focus-visible {
      outline: none;
      box-shadow:
        0 0 0 2px #ffffff,
        0 0 0 4px var(--primary-color);
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  &__actions {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

    padding: 0.4rem;
    min-width: 120px;
    z-index: 100;

    &__logOut {
      width: 100%;
      background: none;
      border: none;
      padding: 0.5rem 0.7rem;

      text-align: left;
      font-size: 0.9rem;
      color: #910505;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: rgba(145, 5, 5, 0.08);
      }
            &:focus-visible {
        outline: none;
        box-shadow:
          0 0 0 2px #ffffff,
          0 0 0 4px #910505;
        transition: box-shadow 0.2s ease-in-out;
      }
    }
  }
}


