:root {
  font-family: "Poppins", sans-serif;

  /*colors*/
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #d0a84a;

  --hover-color-primary: #313131;
  --hover-color-secondary: #d9d9d9;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
