.comment {
  width: 100%;
  background-color: #fff;
  padding: 1rem 1.75rem;
  margin-bottom: 0.8rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info{
     display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  &__author {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin: 0;
  }

  &__date {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
  }

  &__content {
    font-size: 16px;
    line-height: 1.6;
    color: #1f2933;
    margin: 0;
    word-break: break-word;
  }

  &__content p {
    margin: 0;
  }
}
