.quillEditor {
  margin: 1.5rem 0;
}

.article {
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
.metadata {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__inputs {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.editor__actions {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
}
