.article {
    &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
    width: 100%;
    padding: 0.5rem 0.8rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: semi-bold;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.5;
  }
}
