.sm{
  padding: 0.3rem 1.68rem;
  font-size: 1rem;
  gap: 0.5rem;
  border-radius: 1.2rem;
}

.md{
  padding: 0.6rem 2.68rem;
  font-size: 1.5rem;
  gap: 0.8rem;
  border-radius: 3.37rem;

}

.lg{
  padding: 0.99rem 4.68rem;
  font-size: 2rem;
  gap: 1rem;
  border-radius: 4.37rem;

}

.primary{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: var(--hover-color-primary);
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 4 0 #B0AEAE;
  }

  &:focus-visible{
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);

  }
}

.secondary{
  border: 1px solid var(--primary--color);
  background-color: tr;
  color: var(--primary--color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: var(--hover-color-secondary);
    transition: 0.3s all ease-in-out;
  }

  &:focus-visible{
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0.1875rem #ffffff, 0 0 0 0.375rem var(--primary-color);

  }
}