.home{
  background-image: url("/src/assets/images/wiki_globe.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20%;
  background-attachment: fixed;
  position: relative;
}
.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  height: 70dvh;

}

.home__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem;

  &:nth-child(1) {
    height: 50%;
  }
}

.home__workspaces {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5rem;
}
