.discussionPage {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    color: #111827;
  }

  &__wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    border-radius: 8px;
  }

}